<link rel="stylesheet" href="./footer__styles.css">	

	<footer class="footer">
		<div class="footer__bg">
			<img src="./template__images/Rectangle 20.png" alt="">
		</div>
		<div class="wrapper">
			<div class="footer__1-block">
				<div class="flex__">
					<div class="footer__logo">
						<img src="./template__images/footer__logo.svg" alt="">
					</div>
					<div class="footer__span">
						Свежее дыхание в корпоративной жизни и жизни корпоративной дыхание свежее 
					</div>
				</div>
				<div class="flex__">
					<div class="footer__num">+380 630 130 103</div>
					
					<div class="footer__email">example@gmail.com</div>
				</div>
				<div class="footer__links">
					<a href="" class="footer__link">
						<img src="./template__images/footer__facebook.png" alt="">
					</a>
					<a href="" class="footer__link">
						<img src="./template__images/footer__facebook.png" alt="">
					</a>
					<a href="" class="footer__link">
						<img src="./template__images/footer__facebook.png" alt="">
					</a>
				</div>
			</div>
			<div class="flex__row">
				<div class="footer__2-block">
				<div class="footer__left-side">
					Категории
					<ul>
						<li><a href="#">Пошив</a></li>
						<li><a href="#">Все товары</a></li>
						<li><a href="#">Наборы</a></li>
						<li><a href="#">Производство</a></li>
					</ul>
				</div>
				<div class="footer__right-side">
					Информация
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">ЧаВо</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__3-block">
				<div class="footer__block-3__title">
					Связаться с менеджером
				</div>
				<div class="footer__block-3__subtitle">
					Есть вопрос на который не нашли ответ? Оставьте контакт и наш менеджер свяжеться с вами
				</div>
				<form action="">
					<input placeholder="номер телефона" type="text">
					<button type="submit">
						<img src="./template__images/footer__arrow.png" alt="">
					</button>				
				</form>
			</div>	
			</div>
			
		</div>
		<span class="footer__copyright">
			© 2022 . All rights reserved. <a href="#">Политика конфиденциальности</a>
		</span>
	</footer>