.header__search input {
	background: transparent !important;
}
.fix-img {
	vertical-align: top;
}
.header {
	position: absolute;
	top: 0;
	width: 100vw;
}
.header__number {
	transition: 0.1s;
}
.header__popup-menu__links img{
	margin: 0 10px !important;
}

.header__popup-menu__links{
	display: flex;
	margin-top: 10px!important;
}
.header__number:hover {
	background: #309F85 !important;
	/* btn */

	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1) !important;
	border-radius: 65px !important;
}
.header__number:active {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85 !important;
	border-radius: 60px !important;
}
.header__popup-menu .header__number {
	margin-top: 15px;
	display: block;
	background: #1FAB8A;
	width: 180px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 14px;
	color: white;
	box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
	border-radius: 90px;
}
.header__popup-menu__mail{

	margin-top: 15px !important;
}
.header__popup-menu__mail a{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-decoration-line: underline;

	/* gray */

	color: #454747;
}
.header__popup-menu > a {
	font-style: normal;
	line-height: 30px;
	font-weight: 500;
	font-size: 14px;
	/* identical to box height, or 15px */

	text-align: center;

	color: #272525;
	text-decoration: none;
	margin: 1	px;
}
.header__popup-menu > a:hover {
	width: fit-content;
	padding: 0 25px;
	color: #FAFAFA;

	/* main black */

	background: #272525;
	border-radius: 6px;
}
.header__popup-menu ul {
	width: 200px;
	transform: translate(20px);
}
.header__popup-menu ul a {
	font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 105.5%;
/* identical to box height, or 13px */
color: #8E8E8E;
text-decoration: none;
}
.header__popup-menu ul li {
	list-style: none;
	width: fit-content;
	line-height: 20px;
}
.header__popup-menu ul a:hover {
	color: black;
}
.header__popup-menu ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 120px;
}
.header__popup-menu__close-btn-holder {
	position: relative;
	height: 40px;
	width: 100%;
}
.header__popup-menu__close-btn-holder img{
	position: absolute;
	right: 20px;
	top: 20px;
	height: 24px;
	width: 24px;
}
.header__popup-menu[active] {
	opacity: 1;
	top: -10px;
	z-index: 1000;
}
.header__popup-menu {
	box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.6);
	transition: 0.5s;
	transition: 0.5s;
	align-items: center;
	position: relative;
	display: flex;
	width: 280px;
	height: 450px;
	background: #FAFAFA;
	border-radius: 6px;
	position: absolute;
	flex-direction: column;
	top: -200%;
	opacity: 0;
	left: 50%;
	padding-top: 20px;
	transform: translate(-50%);
}
.header__burger-menu img {
	vertical-align: top;
}
.header__burger-menu {
	display: none;
}
.header * , .header{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header__bottom {
	position: relative;
	background: #FAFBFD;
	height: 100px;
}
.header__bottom ul {
	height: 100%;
}

.header__bottom .header__wrapper {
	padding: 0;
}
.header__banner__img {
	position: absolute;
	top: 0;
	right: 0;
}
.header__banner__title {
	z-index: 10;
	font-weight: 900;
	font-size: 38.0443px;
	line-height: 38px;
	/* identical to box height */
	text-transform: lowercase;
	position: relative;
	color: #3C336C;
	margin-right: 260px;

}
.header__bottom li a {
	font-weight: 600;
	font-size: 20px;
	padding: 0 20px;
	text-decoration: none;
	color: black;
	display: block;
	line-height: 100px;
	height: 100px;
	position: relative;
	transition: 0.2s;
}
.header__bottom a:hover {
	color: #FAFBFD !important;
	background: #272525;
	box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
	border-radius: 6px;
}
.header__bottom a:hover:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 8px;
	background: #272525;
	bottom: -16px;
	left: 0;
	background: #272525;
	border-radius: 6px;

}
.header__bottom li {
	list-style: none;
}
.header__bottom ul {
	display: flex;
}
@media (min-width:1600px){
	.header__top {
		height: 145px;
	}
	.header__wrapper {
		height: 100%;
		width: 100vw;
		margin: auto;
		max-width: 1600px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header__search {
		width: 491px;
		height: 60px;
		border: 5px solid black;
		border-radius: 90px	;
		position: relative;
	}
	.header__search input {
		position: absolute;
		border: none;
		outline: none;
		width: 420px;
		height: 40px;
		font-size: 20px;
		left: 50px;
		top: 50%;
		background: transparent;
		transform: translate(0,-50%);
	}
	.header__search button {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0,-50%);
		height: 24px;
		width: 24px;
		background: transparent;
		border:  none;
	}
	.header__number {
		background: #1FAB8A;
		width: 265px;
		height: 60px;
		border: none;
		outline: none;
		font-size: 28px;
		color: white;
		box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
		border-radius: 90px;
	}
	.header__search button img {
		vertical-align: top;
		height: 100%;
		width: 100%;
	}

}

@media (min-width: 1000px) and (max-width: 1600px) {
	.header__top {
		height: 100px;
	}
	.header__banner__title {
		width: 250px;
		margin-right: 50px;
	}
	.header__wrapper {
		height: 100%;
		padding:20px;
		height: 100%;
		width: 100vw;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header__logo img {
		width: 100%;
	}
	.header__logo {
		width: 293px;
	}
	.header__search {
		width: 297px;
		height: 38px;
		border: 3px solid black;
		border-radius: 90px	;
		position: relative;
	}
	.header__search input {
		position: absolute;
		border: none;
		outline: none;
		width: 250px;
		height: 20px;
		font-size: 20px;
		left: 30px;
		background: transparent;
		top: 50%;
		transform: translate(0,-50%);
	}
	.header__search button {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0,-50%);
		height: 16px;
		width: 16px;
		background: transparent;
		border:  none;
	}
	.header__number {
		background: #1FAB8A;
		width: 185px;
		height: 38px;
		border: none;
		outline: none;
		font-size: 16px;
		color: white;
		box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
		border-radius: 90px;
	}
	.header__search button img {
		vertical-align: top;
		height: 100%;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.header__burger-menu {
		display: block;
	}
		.header__bottom{
		display: none;
	}
	.header__top {
		height: 80px;
	}
	.header__logo img{
		height: 20px;
	}
	.header__wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 10px;
		justify-content: space-between;
	}
	.header__search {
		width: 28px;
		overflow: hidden;
		height: 35px;
		transition: 1s;
		border: 2px solid transparent;
		border-radius: 90px	;
		background: transparent;
		margin-left: 180px;
		position: relative;
	}
	.header__search[active]{
		margin-left: 0px;
		width: 280px;
		border: 2px solid black;
	}
	.header__search input {
		position: absolute;
		border: none;
		outline: none;
		width: 250px;
		height: 15px;
		font-size: 20px;
		left: 30px;
		top: 50%;
		background: transparent;
		transform: translate(0,-50%);
	}
	.header__search button {
		position: absolute;
		top: 34%;
		left: 0px;
		transform: translate(0,-50%);
		height: 12px;
		width: 12px;
		background: transparent;
		border:  none;
	}
	.header__number {
		background: #1FAB8A;
		width: 185px;
		height: 35px;
		border: none;
		outline: none;
		font-size: 16px;
		color: white;
		box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
		border-radius: 90px;
	}
}
@media (min-width: 480px) and (max-width: 768px) {
	.header__burger-menu {
		display: block;
	}
		.header__bottom{
		display: none;
	}
	.header__top {
		height: 80px;
	}
	.header__logo img{
		width: 210px
	}
	.header__wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 10px;
		justify-content: space-between;
	}
	.header__search {
		width: 28px;
		overflow: hidden;
		height: 30px;
		transition: 1s;
		border: 2px solid transparent;
		background: transparent;
		border-radius: 90px	;
		position: absolute;
		right: 50px;
	}
	.header__search[active]{
		margin-left: 0px;
		width: 200px;
		border: 2px solid black;
	}
	.header__search input {
		position: absolute;
		border: none;
		outline: none;
		width: 250px;
		height: 15px;
		font-size: 20px;
		left: 30px;
		top: 50%;
		background: transparent;
		transform: translate(0,-50%);
	}
	.header__search button {
		position: absolute;
		top: 34%;
		left: 0px;
		transform: translate(0,-50%);
		height: 12px;
		width: 12px;
		background: transparent;
		border:  none;
	}
	.header__number {
		display: none;
	}
}
@media (max-width: 480px) {
	.header__burger-menu {
		display: block;
	}
		.header__bottom{
		display: none;
	}
	.header__top {
		height: 50px;
	}
	.header__logo img{
		width: 130px
	}
	.header__wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 10px;
		justify-content: space-between;
	}
	.header__search {
		width: 28px;
		overflow: hidden;
		height: 30px;
		transition: 1s;
		border: 2px solid transparent;
		border-radius: 90px	;
		position: absolute;
		right: 50px;
	}
	.header__search[active]{
		width: 250px;
		background: white;
		border: 2px solid black;
	}
	.header__search input {
		position: absolute;
		border: none;
		outline: none;
		width: 250px;
		height: 15px;
		font-size: 20px;
		left: 30px;
		top: 50%;
		transform: translate(0,-50%);
	}
	.header__search button {
		position: absolute;
		top: 34%;
		left: 0px;
		transform: translate(0,-50%);
		height: 12px;
		width: 12px;
		background: transparent;
		border:  none;
	}
	.header__number {
		display: none;
	}
}