<!-- <link rel="stylesheet" href="./template__ideas__styles.css"> -->

<section class="template__ideas">
		<div class="template__ideas__bg">
			<img src="./template__images/template__ideas__bg.png" alt="">
		</div>
		<div class="wrapper">
			<div class="template__ideas__images">
				<img src="./template__images/template__ideas__lamp.png" alt="" class="template__ideas__lamp">
				<img src="./template__images/template__ideas__rocket-1.png" alt="" class="template__ideas__rocket-1">
				<img src="./template__images/template__ideas__rocket-2.png" alt="" class="template__ideas__rocket-2">
			</div>
			<div class="template__ideas__title">
				У вас своя уникальная идея по разработке мерча?
			</div>
			<div class="template__ideas__subtitle">
				Изготовим мерч по вашему дизайну. Расскажем лайфхаки и ознакомим с  технологией производства, предоставим образцы матералов. 
			</div>
			<form action="" class="template__ideas__form">
				<div class="left242552">
					<div class="template__ideas__form-title">
					Введите свои контактные данные, и наш менеджер свяжется с Вами в течении 1 часа
					</div>
				</div>
				<div class="right2323">
					<input type="text" placeholder="Ваше имя" class="template__ideas__input">
					<input type="text" placeholder="Ваша электронная почта" class="template__ideas__input">
					<input type="text" placeholder="Ваш номер телефона" class="template__ideas__input">
					<button type="submit">Заказать</button>
				</div>
			</form>
		</div>
	</section>