@import url('./template/header__styles.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}

.prescreen-end {
	height: 1px;
	position: relative;
	display: block;
    margin-top: -23px;
	z-index: 0;
	height: 304px;
    overflow: hidden;
}
.prescreen-bg .wrapper {
	padding: 0 !important;
	margin: 0;
	overflow-x: hidden;
    height: 1000px;
	overflow-y: hidden;
	width: 100vw !important;
	margin: auto;
}
.prescreen-end .prescreen__preferences {
	position: relative;
	display: flex;
	width: fit-content;
	margin: auto;
	z-index: 1000;
}
.prescreen-end > img {
	position: absolute;
    width: 200% !important;
    transform: scaleX(0.5) translate(-50%, 10px) !important;
}
.prescreen-end .prescreen__preferences {
	display: none;
}
.wrapper {
	position: relative;
	width: 100vw;
	margin: auto;
	max-width: 1600px;
}
.prescreen-bg{
	position: absolute;
	top: 0;
	height: 806px;
	width: 100%;
}
.prescreen {
	position: relative;
	padding-top: 300px;
	background-size: cover;
	height: 850px;
	width: 100vw;
}	

.prescreen p {
	margin: 20px 0;
	width: 620px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	/* or 23px */

	letter-spacing: 0.065em;

	/* main black */

	color: #272525;
}
.prescreen h1 {
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	width: 855px;

	/* main black */

	color: #272525;
}
.prescreen__preferences {
	z-index: 0;
	position: relative;
	display: flex;
	align-items: center;
}
.prescreen__preference {

	display: flex;
	flex-direction: column;
	align-items: center;
}
.prescreen__preference + .prescreen__preference {
	margin-left: 11px;
}
.prescreen__preference__cirle img{
	vertical-align: top;
}
.prescreen__preference__text{
	font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

/* main black */

color: #272525;
max-width: 200px;
}
.prescreen__preference__text b {
	font-weight: 900;
}
.prescreen__back-image {
	position: absolute;
   	right: 39px;
    top: 217px;
}
.most-popular {
	position: relative;
}
@media (min-width: 1000px) and (max-width: 1600px){
	.prescreen-end {
		margin-top: -36px;
	}
	.wrapper {
		padding: 15px;
	}
	.prescreen__preference + .prescreen__preference{
		margin-left: 0px;
	}
	.prescreen__preference{
		z-index: 100;
	}
	.prescreen__back-image {
		position: absolute;
	    right: -28px;
	    top: 395px;
	}
}
@media (min-width: 768px) and (max-width: 1000px){
	.wrapper {
		padding: 15px;
	}
	.prescreen{
		padding-top: 100px;
		height: 800px;
	}
	.prescreen__back-image {
		right: -64px;
	    top: 74px;
	}
	.prescreen h1 {
		font-weight: 900;
		font-size: 36px;
		line-height: 40px;
		width: 600px;
	}
	.prescreen p {
		width: 375px;
	}
	.prescreen-end {
		position: relative;
		display: block;
		margin-top: 150px;
	}
	.prescreen__preferences {
		padding-top: 40px;
		display: none;
	}
	.prescreen-end .prescreen__preferences {
		position: relative;
		display: flex;
		width: fit-content;
		margin: auto;
		z-index: 1000;
	}
	.prescreen-end > img {
		position: absolute;
		width: 100vw;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		padding: 15px;
	}
	.prescreen{
		padding-top: 80px;
	}
	.prescreen h1 {
		max-width: 463px;
		font-weight: 900;
		font-size: 36px;
		line-height: 45px;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		/* main black */

		color: #272525;
	}
	.prescreen-end{
		margin-top: 343px;
	}
	.prescreen p {
		font-weight: 400;
		width: 460px;
		font-size: 16px;
		line-height: 130%;
		/* or 21px */

		letter-spacing: 0.065em;

		/* main black */

		color: #272525;
	}
	.prescreen__back-image{
		transform: rotateY(180deg) scale(0.8);
	    right: -385px;
		top: 305px;
	}
	.prescreen__preferences{
		position: absolute;
		z-index: 1;
		align-items: flex-start;
		flex-direction: column;
	}
	.prescreen__preference {
		transform: scale(0.8);
	}
	.prescreen__preference + .prescreen__preference {
		margin: 10px 0;
	}
}

@media (max-width: 480px) {
	.wrapper {
		padding: 15px;
	}
	.prescreen{
		padding-top: 50px;
	}
	.prescreen__preference {
		transform: scale(0.8);
	}
	.prescreen h1 {
		max-width: 300px;
		font-weight: 900;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		/* main black */

		color: #272525;
	}
	.prescreen-end{
		margin-top: 286px;
	}
	.prescreen p {
		font-weight: 400;
		width: 250px;
		font-size: 16px;
		line-height: 130%;
		/* or 21px */

		letter-spacing: 0.065em;

		/* main black */

		color: #272525;
	}
	.prescreen__back-image{
	    top: 256px;
		transform: rotateY(180deg) scale(0.8);
		right: -504px;
		top: 290px;
	}
	.prescreen__preferences{
	    margin-left: -33px;
		position: absolute;
		z-index: 1;
		align-items: flex-start;
		flex-direction: column;
	}
	.prescreen__preference + .prescreen__preference {
		margin: 10px 0;
	}
}

/* end of prescreen styles */

/*start of most-popular styles*/

.most-popular__title {
	display: inline;
	position: relative;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	/* identical to box height */


	/* main black */

	color: #272525;
}
.most-popular{
	background: #EEF1F6;
}
.most-popular__title:after{
	content: '';
	position: absolute;
	width: 32px;
	height: 31px;
	top: -5px;
	right: -50px;
	background: url(images/star-green.svg);
	transition: 0.4s;
	animation: most-popular__anim infinite 5s linear;
}
.most-popular__sub-tittle{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	/* or 23px */

	letter-spacing: 0.065em;
	text-transform: lowercase;

	/* gray */

	color: #454747;
}
.most-popular__all-items{
	float: right;
	margin-top: 35px;
	margin-right: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	/* or 23px */

	letter-spacing: 0.065em;

	/* main black */

	color: #272525;
	position: relative;
	text-decoration: none;
}

.most-popular__all-items:after {
	content: '→';
	font-size: 30px;
	position: absolute;
	top: 50%;
	right: -35px;
	transform: translate(0,-50%);
}
.most-popular__container {
	margin: 40px 0;
	display: grid; 
	grid-auto-columns: 1fr; 
	grid-template-rows: 312px 240px; 
	gap: 10px 10px; 
	grid-template-areas: 
	"item-1 item-1 item-1 item-1 item-2 item-2"
	"item-1 item-1 item-1 item-1 item-3 item-4"; 
}
.most-popular__item{
	display: block;
	transition: 0.2s;
}
.most-popular__item:hover {
	transform: scale(1.01);
	z-index: 1;
}
.most-popular__container > div {
	overflow: hidden;
	object-fit: cover;
	border-radius: 15px;
}
.most-popular__item-1 {
	grid-area: item-1;
}
.most-popular__item-2 {
	grid-area: item-2;
}
.most-popular__item-3 {
	grid-area: item-3;
}
.most-popular__item-4 {
	grid-area: item-4;
}
.most-popular__item-1 img {
	width: 100%;
}
.most-popular__item-2 img {
	height: 100%;
	transform: scale(1.5);
}
.most-popular__item-3 img, .most-popular__item-4 img {
	height: 100%;
	transform: translate(-20%);
}

.most-popular__bottom {
	display: none;
}
.most-popular{
	position: relative;
}
.most-popular__bg-end {
	width: 100%;
	position: absolute;
	bottom: -20%;
	z-index: -1;
}
@media (min-width: 1000px) and (max-width: 1600px) {
	.most-popular__container {
		grid-template-rows: 190px 160px; 
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.most-popular__container {
		grid-template-rows: 150px 100px; 
	}
}
@media (min-width: 480px) and (max-width: 768px) {
	.most-popular__bg-end {
		bottom: -5%;
	}
	.most-popular__container {
		grid-auto-columns: 1fr; 
		grid-template-areas: 
			"item-1 item-1"
			"item-1 item-1" 
			"item-2 item-2"
			"item-3 item-4";
		grid-template-rows: 120px 120px 160px 120px; 

	}
	.most-popular__container {
	}
	.most-popular__item-2 img {
		max-width: 100%;
		height: auto;
		transform: translateY(-30%);
	}
	.most-popular__item-3 img, .most-popular__item-4 img {
		max-width: 100%;
		height: auto;
		transform: translateY(-20%);
	}
	.most-popular__all-items{
		display: none;
	}
	.most-popular__bottom{
		margin-top: 0px;
		display: flex;
		justify-content: flex-end;
	}
	.most-popular__bottom .most-popular__all-items {
		display: block;
		margin-top: 0;
	}
}
@media (max-width: 480px) {
	.most-popular__bg-end {
		bottom: -2%;
	}
	.most-popular__title{
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		/* identical to box height */


		/* main black */

		color: #272525;
	}
	.most-popular__sub-tittle {
		font-weight: 400;
		font-size: 15px;
		line-height: 130%;
		/* or 19px */

		letter-spacing: 0.065em;
		text-transform: lowercase;

		/* gray */

		color: #454747;
	}
	.most-popular__container {
		grid-auto-columns: 1fr; 
		grid-template-areas: 
			"item-1 item-1"
			"item-1 item-1" 
			"item-2 item-2"
			"item-3 item-4";
		grid-template-rows: 100px 100px 150px 100px; 
	}
	.most-popular__container {
	}
	.most-popular__item-1 img {
		width: auto;
		max-height: 100%;
				transform: translateX(0%) scale(1.5);

	}
	.most-popular__item-2 img {
		width: auto;
		max-height: 100%;
		transform: translateX(20%) scale(1.6);
	}
	.most-popular__item-3 img, .most-popular__item-4 img {
		width: auto;
		max-height: 100%;
		transform: translateX(-5%) scale(1.3);
	}
	.most-popular__all-items{
		display: none;
	}
	.most-popular__bottom{
		margin-top: 0px;
		display: flex;
		justify-content: flex-end;
	}
	.most-popular__bottom .most-popular__all-items {
		display: block;
		margin-top: 0;
	}
}

@keyframes most-popular__anim {
	0%{
		transform: rotateZ(0);
	}
	25% {
		transform: rotateZ(10deg);
	}
	50%{
		transform: rotateZ(0);
	}
	75% {
		transform: rotateZ(-10deg);
	}
	100% {
		transform: rotateZ(0);
	}
}

/*end of most-popular styles*/

/*start of creative styles*/

.creative {
	overflow: hidden;
	margin-top: 120px;
	position: relative;
	padding-bottom: 20px;
}
.creative__title {
	margin-top: 250px;
	margin-left: 250px;
}
.creative-bg {
    width: 100vw;
	height: 100%;
	position: absolute;
}
.creative-bg img {
	height: 100%;
	width: 100%;
}
.creative__title-text {
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 58px;

	/* main black */

	color: #272525;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 23px 0px;
	max-width: 960px;
}
.creative__sub-tittle{
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.065em;

	/* gray */

	color: #454747;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 23px 0px;
	max-width:600px;
}
.creative__go-to-kits{
	margin-top: 50px;
	display: inline-block;
	height: 60px;
	text-decoration: none;
	width: 280px;
	background: #272525;
	border-radius: 60px;
	text-align: center;
	line-height: 60px;

	color: #FAFAFA;
	font-size: 16px;
	margin-bottom: 100px;
}
.creative__create-own-kit{
	margin-top: 50px;
	margin-left: 20px;
	display: inline-block;
	height: 60px;
	width: 280px;
	background: #EEF1F6;
	border-radius: 60px;
	text-align: center;
	line-height: 60px;

	color: #272525;
	font-size: 16px;
	text-decoration: none;
}
.creative-img {
	position: absolute;
	right: 0;
	top: -50px;
}
@media (min-width: 1000px) and (max-width: 1600px) {
	.creative-img {
	    top: 135px;
	    right: -204px;
	}
	.creative__title-text {
		width: 600px;
	}
}
@media (min-width: 768px) and (max-width: 1000px){
	.creative-img {
	    top: 135px;
	    right: -204px;
	    transform: scale(0.7);
	}
	.creative__title{
		margin-left: 130px;
	}
	.creative__title-text {
		width: 500px;
	}
	.creative__sub-tittle {
		width: 500px;
	}
}
@media (max-width: 768px) {
	.creative-img {
		display: none;
	}
	.creative__title{
		margin-left: 0px;
		margin-top: 150px;
	}
	.creative__title-text {
		font-size: 30px;
		text-align: center;
	}
	.creative__sub-tittle {
		text-align: center;
	}
	.creative__go-to-kits {
		display:block;
		margin: auto;
		margin-bottom: 20px;
	}
	.creative__create-own-kit {
		display:block;
		margin: auto;
		margin-top: 10px;

	}
	.creative  {
		margin-top: 0px;
	}
}
/* end of creative styles */

/*start of others styles*/

.others {
	margin-top: 120px;
}
.others .wrapper {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
.others-img {
	height: 523px;
	width: 753px;
	border-radius: 20px;
}
.others-img img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.others__title {
	font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 130%;
/* or 47px */


color: #222227;
}
.others__sub-title{
	margin-top: 20px;
	font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */

letter-spacing: 0.065em;

/* gray */

color: #454747;
}
.others__right-content {
	width: calc(100% - 800px);
}
.others__slider__card {
	position: relative;
	width: 130px;
	border-radius: 50%;
	background: linear-gradient(38.95deg, #9796F0 -10.38%, #FFE0E8 107.56%);
/* Menu shadow */

	box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
	height: 130px;
}

.others__slider {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.others__slider__controls {
	user-select: none;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 105.5%;
/* identical to box height, or 13px */


color: #7981AD;
	margin-left: 20px;
	display: flex;
	font-size: 40px;
}
.others__slider__move-status {
	width: 70px;
	text-align: center;
}
.others__slider__card img {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	width: 100%;
	vertical-align: top;
}
.others__slider__card{
	display: inline-block;
}
.others__slider__content {
	position: relative;
	width: 650px;
	height: 130px;
	flex-wrap: nowrap;
	white-space: nowrap;
}
.others__slider{
	margin-top: 40px;
}
.others__slider__move-status {
	font-size: 20px;
	line-height: 46px;
}	
.others__slider__move-left , .others__slider__move-right {
	cursor: pointer;

}
@media (max-width: 1600px) {
	.others {
		margin-top: 10px;
	}
	.others-img {
		margin-bottom: 20px;
		width: 100%;
		height: 600px;
		overflow: hidden;
		border: solid 1px transparent;
		border-radius: 20px;
	}
	.others-img img {
		height: auto;
		width: 100%;
		position: relative;
		transform: translateY(-15%);
	}
	.others__right-content {
		width: 100%;
	}
	.others__title {
		width: 80%;
	}
	.others__sub-title{
		width: 60%;
	}
}
@media (max-width: 1000px) {
	.others-img {
		height: 400px;
	}
	.others__slider {
		flex-direction: column;
	}
	.others__slider__content {
		width: 100%;
	}
	.others__slider__controls {
		margin: 0;
	}
	.others__title {
		font-size: 30px;
	}
}
@media (max-width: 768px) {
	.others-img {
		height: 200px;
	}
	.others__slider__content > div{
		width: 70px;
		height: 70px
	}
	.others__slider__content {
		height: 90px;
	}

}
@media (max-width: 480px) {
	.others-img {
		height: 150px;
	}
	.others__title {
		width: 100%;
	}
	.others__sub-title {
		width: 100%;
	}
	.others__slider__content > div {
		height: 50px;
		width: 50px;
	}
}
/*end of others styles*/

/*start of ideas styles */

.template__ideas {
	padding-bottom: 120px;
	position: relative;
	overflow: hidden;
	width: 100vw;
}
.template__ideas__bg {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
.template__ideas__title {
	font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 130%;
/* or 47px */

letter-spacing: 0.04em;

color: #222227;
margin-top: 200px;
max-width: 540px;
}
.template__ideas__subtitle{
	font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */

letter-spacing: 0.065em;

/* gray */

color: #454747;
max-width: 540px;
margin-top: 10px;
margin-bottom: 80px;
}
.template__ideas__form {
	margin-top: 10px;
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-direction: column;
}
.template__ideas__form-title {
	width: 500px;
	font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #222227;
}
.template__ideas__input {
	height: 40px;
	font-size: 18px;
	width: 300px;
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #272525;	
}
.template__ideas__form button {
	background: #1FAB8A;
	border-radius: 60px;
	outline: none;
	border: none;
	height: 54px;
	width: 280px;
	color: white;
	font-size: 20px;
}
.template__ideas__bg img {
	height: 100%;
	width: 200%;
	transform: translateX(-10%);
}
.templae__ideas .wrapper {
	position: relative;
}
.template__ideas__lamp {
	position: absolute;
	right: 150px;
	top: -150px;
}
.template__ideas__rocket-2 {
	position: absolute;
	right: 0px;
	top: -50px;
}
.template__ideas__rocket-1 {
	position: absolute;
	right: 600px;
	top: 50px;
}
.right2323 {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
} 
@media (max-width: 1600px) {
	.template__ideas__title {
		margin-top: 140px;
	}
	.template__ideas__input {
		margin: 10px;
		width:300px
	}
	.template__ideas__lamp {
		top: 20px;
	}
	.template__ideas__rocket-2 {
		top: 0;
	}
	.template__ideas__rocket-1 {
		top: 180px;
	}
	.template__ideas__form {
		justify-content: flex-start;
		flex-direction: row;
	}
	.left242552 {
		width: 300px;
	}
	.left242552 div {
		width: 300px;
	}
	.right2323 {
		width: fit-content;
		flex-direction: column;
		align-items: center;
	}
	.template__ideas__rocket-2 {
	    top: 446px;
	    right: 76px;
	}
	.template__ideas__lamp {
		right: 0;
	}
	.template__ideas__rocket-1 {
	    top: 307px;
	    right: 377px;
	}
}
@media (max-width: 1000px) {
	.template__ideas__lamp, .template__ideas__rocket-2, .template__ideas__rocket-1 {
		transform: scale(0.5);
	}
	.template__ideas__lamp {
		right: -80px;
	}
	.template__ideas__rocket-2 {
		top: 312px;
		right: 0px;
	}
	.template__ideas__rocket-1 {
		top: 510px;
		left: 10px;
	}
}
@media (max-width: 768px) {
	.template__ideas {
		padding-top: 100px;
	}
	.template__ideas__lamp {
		right: 50%;
		top: -200px;
		transform: translateX(50%) scale(0.5);
	}
	.template__ideas__form {
		flex-direction: column;
	}
	.template__ideas__input {
		margin: 10px;
		width:250px
	}
	.template__ideas__subtitle {
		margin: 0;
	}
	.template__ideas__rocket-2 {
		top: 25px;
		left: 10px;
	}
	.template__ideas__rocket-1 {
		top: 25px;
		left: unset;
		right: 10px;
	}
}
/*end of ideas styles */

/*start of cooperations styles*/
.cooperations__title{
	font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #222227;

}

.cooperations__slider {
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cooperations__slider__content {
	margin-top: 50px;
	display: flex;
	width: 80%;
	height: 100px;
	position: relative;
	overflow: hidden;
}
/*end of cooperations styles*/
